<p>
  <strong>Title:</strong>
  <%= skill.title %>
</p>
 
<p>
  <strong>Level:</strong>
  <%= skill.level %>
</p>

<p><%= skill.title %></p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:<%= skill.level %>"><%= skill.level %></div>
          </div>